// A COMM-IC
// by Benjamin Pang & Jana Počuchová
// Distributable under MIT License

// Compiled from index.pug

doctype html
html
  head
    meta(charset='utf-8')
    title Comic

    link(href='./css/style.css' rel='stylesheet')

  body
    script.
      document.body.className += ' faded'

    // Fixed frame
    .top
    .bottom
    .left
    .right

    // House background
    .bg

    // Foreground w/ brains, dialogue, etc.
    .cont
      mixin page(n)
        .full: .panel
          .brains(style='background-image: url(./media/brains/brains' + n + '.png)')
          block
      mixin sub
        .sub.scaled
          block

      +page(1)
      +page(2)
      +page(3)
      +page(4)
      +page(5)
      +page(6)
        +sub
          h1 asdf

    script(src='./js/jquery.min.js')
    script(src='./js/fullpage.min.js')
    script(src='./js/main.js')
