doctype html
html
  head
    meta(charset='utf-8')
    title Comic

    link(href='./css/style.css' rel='stylesheet')

  body
    mixin page(color)
      .full(style='background-color: ' + color)
        block
    mixin sub(color)
      .full.scaled(style='background-color: ' + color)
        block

    +page('#f47c7c'): h1 1
    +page('#f7f48b'): h1 2
    +page('#a1de93'): h1 3
    +page('#70a1d7')
      +sub('#f47c7c')
        h1 1

    script(src='./js/jquery.min.js')
    script(src='./js/main.js')
