// A COMM-IC
// by Benjamin Pang & Jana Počuchová
// Distributable under MIT License

// Compiled from index.pug

doctype html
html
  head
    meta(charset='utf-8')
    title Comic

    link(href='./css/style.css' rel='stylesheet')

  body
    script.
      document.body.className += ' faded'

    // Fixed frame
    .left
    .right
      each x in Array(6)
        a.nav □
    .top
      h1.x IDEA
      h3.x.r by Ben Pang & Jana Počuchová
    .bottom


    // House background
    .bg

    // Foreground w/ brains, dialogue, etc.
    .cont
      mixin panel(n)
        .full: .panel
          .brains(style='background-image: url(./media/brains/brains' + n + '.png)')
          block
      mixin sub(x)
        .sub(style='background-image: url(./media/brains/' + x + '.png)')
          block

      +panel(1)
        +sub('brains1Bubble1')
      +panel(2)
      +panel(3)
      +panel(4)
        +sub('brains4Bubble1')
        +sub('brains4Bubble2')
      +panel(5)
      +panel(6)
        +sub('brains6Bubble1')

    script(src='./js/jquery.min.js')
    script(src='./js/fullpage.min.js')
    script(src='./js/main.js')
